.container {
  padding: 20px;
  margin: 0 24px;
  max-width: 100%;
  background: #fbff004e;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 32px;
  color: #f39c12;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-field {
  flex: 1;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  min-width: 75px;
}

.btn {
  background-color: #f39c12;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn span, .btn-cancel span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn:hover {
  background-color: #e67e22;
}

.birthday-list {
  list-style: none;
  padding: 8px 0;
  overflow-y: auto;
  height: 100%;
  max-height: 200px;
}

.birthday-list::-webkit-scrollbar {
  display: none;
}

.birthday-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff8dc;
  border-left: 4px solid transparent;
}

.person {
  flex: 2;
}

.person-name {
  font-weight: bold;
  color: #2c3e50;
}

.person-age {
  color: #2d2d2d;
}

.birthday-date {
  flex: 2;
  color: #363636;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-edit, .btn-delete {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-edit:hover {
  color: #2980b9;
}

.btn-delete:hover {
  color: #c0392b;
}

.birthday-item.editing {
  background-color: #ffeaa7;
  border-left: 4px solid #fd79a8;
}
.btn-cancel {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-cancel:hover {
  background-color: #c0392b;
}

@media (max-width: 650px) {
  .inputs, .btn, .btn-cancel {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 24px;
  }
  
  .person-age {
    display: none;
  }

  .actions {
    gap: 2px;
  }
}

@media (max-width: 290px) {
  .container {
    margin: 0 12px;
  }
  .title {
    font-size: 18px;
  }
}